*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #111;
}
h1{
    color: #fff;
    font: 100 3rem 'Hind';
    margin: 1rem 0;
}
span{
    color: limegreen;
    font-weight: 800;
}
.main-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: .75rem 1rem;
    outline: none;
    border: none;
    font-size:1.15rem ;
    border-radius: 1.25rem;
    margin: .25rem;
    width: 50vw;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
.add{
    color: white;
    border-radius: 2rem;
    height: 40px;
    width: 40px;
    background-color: limegreen;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin:.25rem;
}

.container{
    width: 50vw;
    margin: 2rem auto;
}
.itemBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoItem{
    border-radius: 0;
    border-bottom: 4px solid limegreen;
    background-color: white;
}
ul button{
    height: 50%;
    border-radius: 50%;
    margin:.25rem;
    background: none;
    font-size: 1.5rem;
    color: white;
}